Repository EvHaus/haus.gg: changes, and which lint-staged commands are due for each by the changed paths.
All: flow focus-check, eslint-globex . --fix, stylelint-globex --fix, prettier-package-json --use-tabs --write ./package.json

Update dependency flow-bin to v0.178.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency lint-staged to v12.4.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency flow-bin to v0.179.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency lint-staged to v12.4.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency lint-staged to v12.5.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency lint-staged to v13
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency lint-staged to v13.0.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency flow-bin to v0.180.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency eslint-config-globex to v6.13.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency stylelint-config-globex to v3.5.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update react monorepo to v18.2.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency react-ga to v3.3.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency lint-staged to v13.0.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

README updates
  README.md
Due: none

Upgrade to next 12.2
  flow-typed/npm/@tippyjs/react_vx.x.x.js
  flow-typed/npm/next_vx.x.x.js
  flow-typed/npm/react-dom_v17.x.x.js
  flow-typed/npm/react-dom_v18.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  next.config.js
  yarn.lock
Due: flow focus-check, eslint-globex . --fix

Disable experimental-edge runtime
  next.config.js
Due: flow focus-check, eslint-globex . --fix

Upgrade to latest eslint-config-globex alpha
  .eslintrc
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Upgrade to latest eslint
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Migrate to TypeScript and some of the new Next 13 features
  .babelrc
  .eslintignore
  .eslintrc
  .flowconfig
  .gitignore
  .lintstagedrc
  components/Button/Button.js
  components/Button/Button.tsx
  components/Button/index.js
  components/Button/index.ts
  components/SocialIcon/SocialIcon.tsx
  components/SocialIcon/icons/Email.tsx
  components/SocialIcon/icons/Github.tsx
  components/SocialIcon/icons/Instagram.tsx
  components/SocialIcon/icons/LinkedIn.tsx
  components/SocialIcon/icons/Medium.tsx
  components/SocialIcon/icons/StackOverflow.tsx
  components/SocialIcon/icons/Twitter.tsx
  components/SocialIcon/index.js
  components/SocialIcon/index.ts
  constants/seo.ts
  custom.d.ts
  flow-typed/npm/@tippyjs/react_vx.x.x.js
  flow-typed/npm/next_vx.x.x.js
  flow-typed/npm/react-dom_v18.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  next-env.d.ts
  next.config.js
  package.json
  pages/_app.css
  pages/_app.js
  pages/_app.tsx
  pages/index.tsx
  tsconfig.json
  utils/analytics.ts
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, stylelint-globex --fix, prettier-package-json --use-tabs --write ./package.json

Remove flow npm script
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Delete local fonts
  public/fonts/montserrat-v14-latin-200.woff
  public/fonts/montserrat-v14-latin-200.woff2
  public/fonts/montserrat-v14-latin-regular.woff
  public/fonts/montserrat-v14-latin-regular.woff2
Due: none

Some clean up and fix for orb animation
  .env
  custom.d.ts
  next-env.d.ts
  package.json
  pages/_app.tsx
  pages/index.module.css
  pages/index.tsx
  yarn.lock
Due: stylelint-globex --fix, prettier-package-json --use-tabs --write ./package.json

Fix test errors
  next-env.d.ts
  pages/_app.tsx
Due: none

Migrate from husky to lefthook
  .husky/post-merge
  .husky/post-rebase
  .husky/pre-commit
  .lintstagedrc
  lefthook.yml
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Add missing "git add" for lefthook
  lefthook.yml
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Fix lefthook git add again
  lefthook.yml
Due: none

Upgrade to eslint-config-globex 7.4.0
  next.config.js
  package.json
  utils/analytics.ts
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Path conditions:
  flow focus-check: any of: *.js
  eslint-globex . --fix: any of: *.js
  stylelint-globex --fix: any of: *.css
  prettier-package-json --use-tabs --write ./package.json: any of: package.json
