Repository EvHaus/haus.gg: changes, and which lint-staged commands are due for each by the changed paths.
All: flow focus-check, eslint-globex . --fix, stylelint-globex --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"flow focus-check",
		"eslint-globex . --fix"
	],
	"*.css": [
		"stylelint-globex --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

Package upgrades
  next.config.js
  package.json
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Bump eslint-config-globex to 6.0.0-beta.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Bump stylelint-config-globex to 3.0.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Upgrade next
  next.config.js
  package.json
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Add renovate.json
  renovate.json
Due: none

Upgrade to yarn@3
  .github/dependabot.yml
  .github/renovate.json
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Upgrade GitHub Actions
  .github/workflows/workflow.yml
Due: none

Update dependency lint-staged to v12
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency lint-staged to v12.0.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency lint-staged to v12.0.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency next to v12.0.4
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Simplify GitHub Actions workflow
  .github/workflows/workflow.yml
Due: none

Update dependency eslint-config-globex to v6.1.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency stylelint-config-globex to v3.1.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency flow-bin to v0.165.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency lint-staged to v12.0.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency flow-bin to v0.165.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency lint-staged to v12.1.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency lint-staged to v12.1.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update Yarn to v3.1.1
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency flow-typed to v3.5.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency flow-bin to v0.166.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency flow-bin to v0.166.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update dependency next to v12.0.5
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json
