Repository EvHaus/haus.gg: changes, and which lint-staged commands are due for each by the changed paths.
All: flow focus-check, eslint-globex . --fix, stylelint-globex --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"flow focus-check",
		"eslint-globex . --fix"
	],
	"*.css": [
		"stylelint-globex --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

Minor performance improvement by preconnecting to Google Analytics
  pages/_document.js
Due: flow focus-check, eslint-globex . --fix

Upgrade flow-typed and refresh libdefs
  flow-typed/npm/@tippy.js/react_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  package.json
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Disable flow linting and fix broken deployments
  .flowconfig
  .github/workflows/workflow.yml
Due: none

Upgrade react and next.js
  flow-typed/npm/@tippy.js/react_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  package.json
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Upgrade flow and only keep modern fonts
  flow-typed/npm/@tippy.js/react_vx.x.x.js
  flow-typed/npm/react-dom_v16.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  package.json
  pages/_app.css
  public/fonts/montserrat-v14-latin-200.eot
  public/fonts/montserrat-v14-latin-200.svg
  public/fonts/montserrat-v14-latin-200.ttf
  public/fonts/montserrat-v14-latin-regular.eot
  public/fonts/montserrat-v14-latin-regular.svg
  public/fonts/montserrat-v14-latin-regular.ttf
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, stylelint-globex --fix, prettier-package-json --use-tabs --write ./package.json

Upgrade to latest eslint-config-globex
  .eslintrc
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

ESlint and Flow upgrades
  .flowconfig
  components/Button/Button.js
  components/SocialIcon/SocialIcon.js
  package.json
  pages/index.js
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Remove unused ESLint plugins
  .eslintrc
Due: none

Upgrade Next.js and flow-typed libdefs
  flow-typed/npm/@tippy.js/react_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  package.json
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Bump stylelint-config-globex from 1.3.0 to 1.3.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Flow no longer supports `suppress_comment` option
  .flowconfig
Due: none

Bump yarn.lock
  yarn.lock
Due: none

Minor package upgrades
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Upgrade to latest version of tippy
  components/SocialIcon/SocialIcon.js
  components/SocialIcon/SocialIcon.module.css
  package.json
  pages/_app.css
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, stylelint-globex --fix, prettier-package-json --use-tabs --write ./package.json

flow-typed upgrades
  flow-typed/npm/@tippy.js/react_vx.x.x.js
  flow-typed/npm/@tippyjs/react_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
Due: flow focus-check, eslint-globex . --fix

Minor package upgrades and migration to dependabot.yml
  .github/dependabot.yml
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Integrate with Vercel via GitHub App rather than GitHub Actions
  .github/workflows/workflow.yml
Due: none

Bump yarn.lock file
  yarn.lock
Due: none

Remove deprecated nowignore file
  .nowignore
Due: none

Minor package upgrades and clean up
  .eslintrc
  components/Button/Button.js
  components/SocialIcon/.eslintrc
  components/SocialIcon/SocialIcon.js
  flow-typed/npm/@tippyjs/react_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  package.json
  pages/.eslintrc
  pages/index.js
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Fix for GitHub Action CI install steps
  .github/workflows/workflow.yml
Due: none

Minor package upgrades
  .yarn/cache/react-dom-npm-16.13.1-b0abd8a83a-fb5c3ad413.zip
  .yarn/cache/react-dom-npm-16.14.0-516a97ad33-a13558f0e7.zip
  .yarn/cache/react-npm-16.13.1-56d408860d-13dcc9ba8a.zip
  .yarn/cache/react-npm-16.14.0-932446ec69-2769580b22.zip
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Upgrading to webpack 5, fixing some flow errors, code clean up, adding font-display to fix font flicker
  .flowconfig
  components/SocialIcon/icons/.eslintrc
  components/SocialIcon/icons/Email.js
  components/SocialIcon/icons/Github.js
  components/SocialIcon/icons/Instagram.js
  components/SocialIcon/icons/LinkedIn.js
  components/SocialIcon/icons/Medium.js
  components/SocialIcon/icons/StackOverflow.js
  components/SocialIcon/icons/Twitter.js
  flow-typed/npm/@tippyjs/react_vx.x.x.js
  flow-typed/npm/next_v9.x.x.js
  flow-typed/npm/next_vx.x.x.js
  flow-typed/npm/react-dom_v16.x.x.js
  flow-typed/npm/react-dom_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  package.json
  pages/_app.css
  pages/_document.js
  pages/index.js
  pages/index.module.css
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, stylelint-globex --fix, prettier-package-json --use-tabs --write ./package.json

Minor typing fix
  pages/_document.js
Due: flow focus-check, eslint-globex . --fix

Migrate away from react-helmet
  constants/seo.js
  flow-typed/npm/react-helmet_vx.x.x.js
  pages/_app.js
  pages/_document.js
  yarn.lock
Due: flow focus-check, eslint-globex . --fix

Minor package clean up
  flow-typed/npm/@tippyjs/react_vx.x.x.js
  flow-typed/npm/next_vx.x.x.js
  flow-typed/npm/react-dom_v17.x.x.js
  flow-typed/npm/react-dom_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  package.json
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Ensure HTML element has a language specified
  next.config.js
Due: flow focus-check, eslint-globex . --fix

Upgrade to husky 6, webpack 5 and next 10.1.1
  .husky/.gitignore
  .husky/post-merge
  .husky/post-rebase
  .husky/pre-commit
  .huskyrc
  next.config.js
  package.json
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Fix new ESlint errors
  components/Button/Button.js
  components/SocialIcon/SocialIcon.js
Due: flow focus-check, eslint-globex . --fix

Minor package upgrades
  .github/workflows/workflow.yml
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Update Instagram link
  components/SocialIcon/SocialIcon.js
Due: flow focus-check, eslint-globex . --fix

Upgrade to next@11
  .eslintrc
  flow-typed/npm/@tippyjs/react_vx.x.x.js
  flow-typed/npm/next_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  next.config.js
  package.json
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Add eslint-config-next
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Minor package upgrades
  .husky/.gitignore
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json
