Repository EvHaus/haus.gg: changes, and which lint-staged commands are due for each by the changed paths.
All: flow focus-check, eslint-globex . --fix, stylelint-globex --fix, prettier-package-json --use-tabs --write ./package.json

Lock @react-pdf/textkit version
  bun.lock
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Migrate to latest `motion` package
  bun.lock
  components/WithTooltip/WithTooltip.tsx
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Upgrade to Biome 2
  app/api/resume/route.tsx
  app/page.module.css
  biome.json
  components/ResumeButton/ResumeButton.module.css
  components/SocialIcon/SocialIcon.tsx
  components/WithTooltip/WithTooltip.module.css
  components/WithTooltip/WithTooltip.tsx
  lefthook.yml
  tsconfig.json
Due: stylelint-globex --fix

chore: Set bun install to isolated and run latest Biome checks
  app/layout.module.css
  app/page.module.css
  bun.lock
  bunfig.toml
  components/ResumeButton/ResumeButton.module.css
  components/SocialIcon/SocialIcon.module.css
  components/WithTooltip/WithTooltip.module.css
Due: stylelint-globex --fix

chore: Add curl verify step back on CI
  .github/workflows/workflow.yml
Due: none

chore: Run cron website test every 30mins
  .github/workflows/ping.yml
  .github/workflows/test.yml
Due: none

chore: Remove remaining pnpm script
  lefthook.yml
Due: none

chore: Switch to tsgo
  bun.lock
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

chore: Switch ping to www
  .github/workflows/ping.yml
Due: none

Biome config update
  biome.json
Due: none

chore(deps): biome 2.2.0 upgrade
  biome.json
  bun.lock
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Remove CI ping
  .github/workflows/ping.yml
Due: none

Upgrade to Next 16
  next-env.d.ts
  package.json
  tsconfig.json
Due: prettier-package-json --use-tabs --write ./package.json

Tell Renovate not to update certain devDependencies so often
  .github/renovate.json
  .github/renovate.json5
Due: none

Rename renovate group
  .github/renovate.json5
Due: none

Path conditions:
  flow focus-check: any of: *.js
  eslint-globex . --fix: any of: *.js
  stylelint-globex --fix: any of: *.css
  prettier-package-json --use-tabs --write ./package.json: any of: package.json
