Repository EvHaus/haus.gg: changes, and which lint-staged commands are due for each by the changed paths.
All: flow focus-check, eslint-globex . --fix, stylelint-globex --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"flow focus-check",
		"eslint-globex . --fix"
	],
	"*.css": [
		"stylelint-globex --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

Fix ESLint errors
  .eslintrc
  pnpm-lock.yaml
Due: none

Remove experimental.appDir config
  next.config.js
Due: flow focus-check, eslint-globex . --fix

Lockfile reset
  pnpm-lock.yaml
Due: none

Add @types/node. Vercel needs it
  bun.lockb
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Migrate API to App Router
  app/api/resume/components/Block.tsx
  app/api/resume/components/EducationBlock.tsx
  app/api/resume/components/ExperienceBlock.tsx
  app/api/resume/components/ListItem.tsx
  app/api/resume/components/Pipe.tsx
  app/api/resume/components/SectionTitle.tsx
  app/api/resume/components/Timeline.tsx
  app/api/resume/route.tsx
  app/api/resume/types.ts
  app/api/resume/utils/colors.ts
  app/layout.tsx
  bun.lockb
  components/SocialIcon/icons/X.tsx
  next-env.d.ts
  next.config.js
  package.json
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Upgrade to latest Biome
  app/api/resume/components/Block.tsx
  app/layout.tsx
  biome.json
  components/WithTooltip/WithTooltip.tsx
Due: none

Biome config updates
  biome.json
  pnpm-lock.yaml
Due: none

Remove extra lockfile
  bun.lockb
  pnpm-lock.yaml
Due: none

Enable new useHookAtTopLevel Biome rule
  biome.json
Due: none

Add note about @react-pdf/types
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Fix for new Biome checks
  app/api/resume/components/ExperienceBlock.tsx
  app/page.tsx
Due: none

Rollback @react-pdf/types upgrade
  bun.lockb
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Switch back to official react-pdf package
  app/api/resume/components/Block.tsx
  app/api/resume/components/EducationBlock.tsx
  app/api/resume/components/ExperienceBlock.tsx
  app/api/resume/components/ListItem.tsx
  app/api/resume/components/Pipe.tsx
  app/api/resume/components/SectionTitle.tsx
  app/api/resume/components/Timeline.tsx
  app/api/resume/route.tsx
  bun.lockb
  next.config.js
  package.json
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Minor formatting change
  app/api/resume/components/ExperienceBlock.tsx
  app/api/resume/components/Timeline.tsx
Due: none

Update README.md
  README.md
Due: none

Resume updates
  app/api/resume/components/ExperienceBlock.tsx
  app/api/resume/route.tsx
Due: none

Lockfile reset and lint fixes
  app/api/resume/components/ExperienceBlock.tsx
  app/api/resume/route.tsx
  bun.lockb
Due: none

Upgrade to Biome 1.6.0
  app/layout.tsx
  app/page.tsx
  biome.json
  components/Analytics/index.ts
  components/ResumeButton/index.ts
  components/SillyComment/index.ts
  components/SocialIcon/SocialIcon.tsx
  components/SocialIcon/index.ts
  components/WithTooltip/index.ts
  tsconfig.json
Due: none

Reset lockfile
  bun.lockb
Due: none

Upgrade biome rules to 1.7.0
  biome.json
Due: none

Minor formatting fixes
  biome.json
  bun.lockb
Due: none

Biome upgrade
  biome.json
  lefthook.yml
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Upgrade to latest Biome version and replace Stylelint
  .stylelintrc
  app/layout.module.css
  app/page.module.css
  biome.json
  bun.lockb
  components/ResumeButton/ResumeButton.module.css
  components/SocialIcon/SocialIcon.module.css
  components/WithTooltip/WithTooltip.module.css
  lefthook.yml
  package.json
Due: stylelint-globex --fix, prettier-package-json --use-tabs --write ./package.json

Try removing @types/node
  bun.lockb
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Enable new BIome rules
  biome.json
  components/WithTooltip/WithTooltip.tsx
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Remove packageManager from package.json
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Fix for broken react-pdf version
  bun.lockb
  components/SocialIcon/SocialIcon.tsx
  components/WithTooltip/WithTooltip.tsx
  next-env.d.ts
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Switch to bun's text-based lockfile
  bun.lock
  bun.lockb
Due: none

Revert "Update dependency @react-pdf/stylesheet to <=5.2.0 (#1415)"
  bun.lock
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Revert "Update dependency @react-pdf/layout to <=4.2.0 (#1414)"
  bun.lock
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Revert "Update dependency @react-pdf/renderer to <=4.1.6 (#1412)"
  bun.lock
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Minor package.json change
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Rollback react-pdf upgrades
  bun.lock
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Config and lockfile fixes
  bun.lock
  bunfig.toml
  next-env.d.ts
  next.config.js
Due: flow focus-check, eslint-globex . --fix

Version up reconciler
  bun.lock
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Rollback to binary lockfile
  bun.lock
  bun.lockb
  bunfig.toml
Due: none

chore: Switch to text-based Lockfile
  bun.lock
  bun.lockb
  bunfig.toml
Due: none
