Repository EvHaus/haus.gg: changes, and which lint-staged commands are due for each by the changed paths.
All: flow focus-check, eslint-globex . --fix, stylelint-cumul8 --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"flow focus-check",
		"eslint-globex . --fix",
		"git add"
	],
	"*.css": [
		"stylelint-cumul8 --fix",
		"git add"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json",
		"git add"
	]
}

Minor package upgrades & fixes for Next.js deprecations
  package.json
  pages/_app.js
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

yarn.lock upgrade
  yarn.lock
Due: none

Rollback babel/register due to weird production bug.
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Fix broken production deploys
  .rocketryrc
Due: none

Greenkeeper/react tippy 1.3.0 (#46)
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

flow-typed upgrades
  flow-typed/npm/@zeit/next-css_vx.x.x.js
  flow-typed/npm/compression_vx.x.x.js
  flow-typed/npm/greenlock-express_vx.x.x.js
  flow-typed/npm/greenlock-store-fs_vx.x.x.js
  flow-typed/npm/koa-compress_vx.x.x.js
  flow-typed/npm/koa-connect_vx.x.x.js
  flow-typed/npm/koa-send_vx.x.x.js
  flow-typed/npm/next_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  flow-typed/npm/react-tippy_vx.x.x.js
  flow-typed/npm/redirect-https_vx.x.x.js
Due: flow focus-check, eslint-globex . --fix

Flow upgrades
  flow-typed/npm/@zeit/next-css_vx.x.x.js
  flow-typed/npm/compression_vx.x.x.js
  flow-typed/npm/greenlock-express_vx.x.x.js
  flow-typed/npm/greenlock-store-fs_vx.x.x.js
  flow-typed/npm/koa-compress_vx.x.x.js
  flow-typed/npm/koa-connect_vx.x.x.js
  flow-typed/npm/koa-send_vx.x.x.js
  flow-typed/npm/next_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  flow-typed/npm/react-tippy_vx.x.x.js
  flow-typed/npm/redirect-https_vx.x.x.js
  package.json
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Migrate to public directory
  public/favicon.ico
  public/resume-ev-haus.pdf
Due: none

Rocketry upgrade
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

ESLint upgrades
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Add CURL GitHub action to verify deployment
  .github/workflows/workflow.yml
Due: none

Add wait step before curl
  .github/workflows/workflow.yml
Due: none

Add babel-core dependency
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Remove babel-core dependency as it breaks next.js compat
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Minor package upgrades
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Change CI wait time to 10 seconds before doing a health check
  .github/workflows/workflow.yml
Due: none

Attempt to fix FOUC
  next.config.js
Due: flow focus-check, eslint-globex . --fix

Fix for horrible Chrome FOUC bug
  pages/_document.js
Due: flow focus-check, eslint-globex . --fix

Upgrading to next.js 9.2.0
  components/Button/Button.js
  components/Button/Button.module.css
  components/SocialIcon/SocialIcon.css
  components/SocialIcon/SocialIcon.js
  components/SocialIcon/SocialIcon.module.css
  components/SocialIcon/icons/Email.js
  components/SocialIcon/icons/Github.js
  components/SocialIcon/icons/Instagram.js
  components/SocialIcon/icons/LinkedIn.js
  components/SocialIcon/icons/Medium.js
  components/SocialIcon/icons/StackOverflow.js
  components/SocialIcon/icons/Twitter.js
  constants/seo.js
  flow-typed/npm/@zeit/next-css_vx.x.x.js
  flow-typed/npm/compression_vx.x.x.js
  flow-typed/npm/greenlock-express_vx.x.x.js
  flow-typed/npm/greenlock-store-fs_vx.x.x.js
  flow-typed/npm/koa-compress_vx.x.x.js
  flow-typed/npm/koa-connect_vx.x.x.js
  flow-typed/npm/koa-send_vx.x.x.js
  flow-typed/npm/next_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  flow-typed/npm/react-tippy_vx.x.x.js
  flow-typed/npm/redirect-https_vx.x.x.js
  next.config.js
  package.json
  pages/_app.css
  pages/_document.js
  pages/index.js
  pages/index.module.css
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, stylelint-cumul8 --fix, prettier-package-json --use-tabs --write ./package.json

Minor eslintignore update
  .eslintignore
Due: none

Minor deployment update
  .rocketryrc
Due: none

Optimize Google web font loading
  pages/_app.css
  pages/_document.js
  public/fonts/montserrat-v14-latin-200.eot
  public/fonts/montserrat-v14-latin-200.svg
  public/fonts/montserrat-v14-latin-200.ttf
  public/fonts/montserrat-v14-latin-200.woff
  public/fonts/montserrat-v14-latin-200.woff2
  public/fonts/montserrat-v14-latin-regular.eot
  public/fonts/montserrat-v14-latin-regular.svg
  public/fonts/montserrat-v14-latin-regular.ttf
  public/fonts/montserrat-v14-latin-regular.woff
  public/fonts/montserrat-v14-latin-regular.woff2
Due: flow focus-check, eslint-globex . --fix, stylelint-cumul8 --fix

Oops, fix bug in bad link definitions.
  pages/_document.js
Due: flow focus-check, eslint-globex . --fix

Migrate to @tippy.js/react
  components/Button/Button.module.css
  components/SocialIcon/SocialIcon.js
  components/SocialIcon/SocialIcon.module.css
  flow-typed/npm/@tippy.js/react_vx.x.x.js
  flow-typed/npm/react-tippy_vx.x.x.js
  package.json
  pages/_app.css
  pages/_app.js
  pages/_document.js
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, stylelint-cumul8 --fix, prettier-package-json --use-tabs --write ./package.json

Fixing lighthouse audit issues
  components/SocialIcon/SocialIcon.js
  components/SocialIcon/SocialIcon.module.css
  pages/_app.css
Due: flow focus-check, eslint-globex . --fix, stylelint-cumul8 --fix

Adding a h1 for SEO reasons
  pages/index.js
Due: flow focus-check, eslint-globex . --fix

Better fix for a11y lighthouse error
  components/SocialIcon/SocialIcon.js
  components/SocialIcon/SocialIcon.module.css
Due: flow focus-check, eslint-globex . --fix, stylelint-cumul8 --fix

DigitalOcean + Greenlock gives us 300-400ms startup times. Let's try with now.sh
  .gitignore
  .rocketryrc
  flow-typed/npm/@tippy.js/react_vx.x.x.js
  flow-typed/npm/compression_vx.x.x.js
  flow-typed/npm/greenlock-express_vx.x.x.js
  flow-typed/npm/greenlock-store-fs_vx.x.x.js
  flow-typed/npm/koa-compress_vx.x.x.js
  flow-typed/npm/koa-connect_vx.x.x.js
  flow-typed/npm/koa-router_v7.2.x.js
  flow-typed/npm/koa-send_vx.x.x.js
  flow-typed/npm/koa_v2.0.x.js
  flow-typed/npm/next_v9.x.x.js
  flow-typed/npm/next_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  flow-typed/npm/redirect-https_vx.x.x.js
  package.json
  public/robots.txt
  server.js
  start.js
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Remove Github action for Rocketry deployments
  .github/workflows/workflow.yml
Due: none

Minor upgrades and clean up
  README.md
  flow-typed/npm/redirect-https_vx.x.x.js
  package.json
  pages/_app.js
  pages/_document.js
  yarn.lock
Due: flow focus-check, eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

Deploy to now.sh via Github actions
  .github/workflows/workflow.yml
  now.json
Due: none

Fix bug in Github Actions workflow
  .github/workflows/workflow.yml
Due: none

Fix for deploy command in actions
  .github/workflows/workflow.yml
Due: none

Attempt to fix prod deployment
  .github/workflows/workflow.yml
Due: none

I think we can completely delete the now.sh config
  now.json
Due: none

Remove deploy command
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Add a .nowignore file
  .nowignore
Due: none

Ignore yourself
  .nowignore
Due: none

Upgrade lint-staged
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json
