Repository EvHaus/haus.gg: changes, and which lint-staged commands are due for each by the changed paths.
All: flow focus-check, eslint-cumul8 . --fix, stylelint-cumul8 --fix, prettier-package-json --use-tabs --write ./package.json

Add flow to server and add stylelint
  .lintstagedrc
  components/SocialIcon/SocialIcon.css
  flow-typed/npm/@babel/preset-flow_vx.x.x.js
  flow-typed/npm/@globexdesigns/deploy_vx.x.x.js
  flow-typed/npm/eslint-config-cumul8_vx.x.x.js
  flow-typed/npm/flow-bin_v0.x.x.js
  flow-typed/npm/flow-typed_vx.x.x.js
  flow-typed/npm/husky_vx.x.x.js
  flow-typed/npm/lint-staged_vx.x.x.js
  package.json
  pages/_app.css
  pages/index.css
  robots.txt
  server.js
  yarn.lock
Due: flow focus-check, eslint-cumul8 . --fix, stylelint-cumul8 --fix, prettier-package-json --use-tabs --write ./package.json

Add flow to server and add stylelint Part 2
  .stylelintrc
  flow-typed/npm/compression_vx.x.x.js
  flow-typed/npm/koa-compress_vx.x.x.js
  flow-typed/npm/koa-connect_vx.x.x.js
  start.js
Due: flow focus-check, eslint-cumul8 . --fix

Add new start js to list of files to deploy
  .deployrc
Due: none

Babel needs to be deployed too
  .deployrc
Due: none

Minor package upgrades
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Minor package upgrades and prepare for auto deployments
  .github/main.workflow
  README.md
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Version up to test auto deployment
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Remove verbose flag from deployment step
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Minor package upgrades and ESLint changes
  .eslintrc
  .lintstagedrc
  components/SocialIcon/SocialIcon.js
  components/SocialIcon/icons/Email.js
  components/SocialIcon/icons/Github.js
  components/SocialIcon/icons/Instagram.js
  components/SocialIcon/icons/LinkedIn.js
  components/SocialIcon/icons/StackOverflow.js
  components/SocialIcon/icons/Twitter.js
  next.config.js
  package.json
  pages/_app.js
  pages/_document.js
  pages/index.js
  server.js
  yarn.lock
Due: flow focus-check, eslint-cumul8 . --fix, prettier-package-json --use-tabs --write ./package.json

Minor eslint updates
  package.json
  server.js
  yarn.lock
Due: flow focus-check, eslint-cumul8 . --fix, prettier-package-json --use-tabs --write ./package.json

stylelint update
  .lintstagedrc
  .stylelintrc
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Migrate to rocketry
  .github/main.workflow
  .rocketryrc
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Fix some package version issues
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Minor rocketry update
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Minor package upgrades
  components/Button/Button.js
  components/Button/index.js
  components/SocialIcon/SocialIcon.js
  components/SocialIcon/icons/Email.js
  components/SocialIcon/icons/Github.js
  components/SocialIcon/icons/Instagram.js
  components/SocialIcon/icons/LinkedIn.js
  components/SocialIcon/icons/StackOverflow.js
  components/SocialIcon/icons/Twitter.js
  components/SocialIcon/index.js
  constants/seo.js
  next.config.js
  package.json
  pages/_app.js
  pages/_document.js
  pages/index.js
  server.js
  utils/analytics.js
  yarn.lock
Due: flow focus-check, eslint-cumul8 . --fix, prettier-package-json --use-tabs --write ./package.json

Minor package upgrades
  flow-typed/npm/@zeit/next-css_vx.x.x.js
  flow-typed/npm/compression_vx.x.x.js
  flow-typed/npm/greenlock-express_vx.x.x.js
  flow-typed/npm/greenlock-store-fs_vx.x.x.js
  flow-typed/npm/koa-compress_vx.x.x.js
  flow-typed/npm/koa-connect_vx.x.x.js
  flow-typed/npm/koa-send_vx.x.x.js
  flow-typed/npm/next_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  flow-typed/npm/react-tippy_vx.x.x.js
  flow-typed/npm/redirect-https_vx.x.x.js
  package.json
  yarn.lock
Due: flow focus-check, eslint-cumul8 . --fix, prettier-package-json --use-tabs --write ./package.json

Minor package upgrades
  package.json
  pages/_app.js
  yarn.lock
Due: flow focus-check, eslint-cumul8 . --fix, prettier-package-json --use-tabs --write ./package.json

Minor package upgrades
  flow-typed/npm/@zeit/next-css_vx.x.x.js
  flow-typed/npm/compression_vx.x.x.js
  flow-typed/npm/greenlock-express_vx.x.x.js
  flow-typed/npm/greenlock-store-fs_vx.x.x.js
  flow-typed/npm/koa-compress_vx.x.x.js
  flow-typed/npm/koa-connect_vx.x.x.js
  flow-typed/npm/koa-router_v7.2.x.js
  flow-typed/npm/koa-send_vx.x.x.js
  flow-typed/npm/koa_v2.0.x.js
  flow-typed/npm/next_vx.x.x.js
  flow-typed/npm/react-ga_vx.x.x.js
  flow-typed/npm/react-helmet_vx.x.x.js
  flow-typed/npm/react-tippy_vx.x.x.js
  flow-typed/npm/redirect-https_vx.x.x.js
  package.json
  yarn.lock
Due: flow focus-check, eslint-cumul8 . --fix, prettier-package-json --use-tabs --write ./package.json

Rocketry fixes
  .rocketryrc
Due: none

Fix for broken Google bot indexing?
  server.js
Due: flow focus-check, eslint-cumul8 . --fix

Minor README update [skip ci]
  README.md
Due: none

Github Actions Upgrade
  .github/main.workflow
  .github/workflows/nodejs.yml
Due: none

Fix Github Actions
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

Github Action Workflow changes
  .github/workflows/deploy.yml
  .github/workflows/workflow.yml
Due: none

Fixing CI
  .github/workflows/workflow.yml
Due: none

Final fix for Github CI
  .github/workflows/workflow.yml
Due: none

Let's try again
  .github/workflows/workflow.yml
Due: none

Test just event name
  .github/workflows/workflow.yml
Due: none

Try again
  .github/workflows/workflow.yml
Due: none

One more CI change
  .github/workflows/workflow.yml
Due: none

Change CI rules
  .github/workflows/workflow.yml
Due: none

Update lockfile
  yarn.lock
Due: none

Test hack
  .github/workflows/workflow.yml
  pages/index.js
Due: flow focus-check, eslint-cumul8 . --fix

Testing workflow change
  .github/workflows/workflow.yml
Due: none

chore: yarn.lock update
  yarn.lock
Due: none

Rollback React upgrade due to https://github.com/zeit/next.js/issues/8886
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Path conditions:
  flow focus-check: any of: *.js
  eslint-cumul8 . --fix: any of: *.js
  stylelint-cumul8 --fix: any of: *.css
  prettier-package-json --use-tabs --write ./package.json: any of: package.json
