Repository EvHaus/haus.gg: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint, prettier-package-json, typescript

stylelint:
  run: pnpm stylelint-globex --fix {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint-globex --fix {staged_files} && git add {staged_files}

prettier-package-json:
  run: pnpm prettier-package-json --use-tabs --write {staged_files} && git add {staged_files}

typescript:
  run: pnpm tsc --project ./tsconfig.json --noEmit

Switch to pnpm
  .eslintignore
  .github/workflows/workflow.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  README.md
  lefthook.yml
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: eslint, prettier-package-json, typescript

Remove old stale file
  utils/analytics.ts
Due: eslint, typescript

Revert lefthook to use yarn
  lefthook.yml
Due: none

Revert "Revert lefthook to use yarn"
  lefthook.yml
Due: none

Migrate to Next app dir
  .eslintrc
  app/.eslintrc
  app/layout.module.css
  app/layout.tsx
  app/page.module.css
  app/page.tsx
  components/Analytics/Analytics.tsx
  components/Analytics/index.ts
  components/Button/Button.tsx
  components/SocialIcon/SocialIcon.tsx
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier-package-json, typescript

Upgrade tooltip component
  app/layout.module.css
  app/layout.tsx
  components/SocialIcon/SocialIcon.module.css
  components/SocialIcon/SocialIcon.tsx
  components/WithTooltip/WithTooltip.module.css
  components/WithTooltip/WithTooltip.tsx
  components/WithTooltip/index.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier-package-json, typescript

Create silly comment component
  app/layout.tsx
  components/SillyComment/SillyComment.tsx
  components/SillyComment/index.ts
Due: eslint, typescript

Remove unnecessary characters
  components/SillyComment/SillyComment.tsx
Due: eslint, typescript

Update Google Analytics ID
  .env
Due: none

Add comment timeout
  components/SillyComment/SillyComment.tsx
Due: eslint, typescript

Revert timeout. It doesn't work
  components/SillyComment/SillyComment.tsx
Due: eslint, typescript

Migrate resume to react-pdf
  app/page.tsx
  components/Button/Button.tsx
  package.json
  pages/api/resume/components/Block.tsx
  pages/api/resume/components/EducationBlock.tsx
  pages/api/resume/components/ExperienceBlock.tsx
  pages/api/resume/components/ListItem.tsx
  pages/api/resume/components/Pipe.tsx
  pages/api/resume/components/SectionTitle.tsx
  pages/api/resume/components/Timeline.tsx
  pages/api/resume/index.tsx
  pages/api/resume/types.ts
  pages/api/resume/utils/colors.ts
  pnpm-lock.yaml
  public/resume-ev-haus.pdf
Due: eslint, prettier-package-json, typescript

Clean up TODO
  components/WithTooltip/WithTooltip.tsx
Due: eslint, typescript

Try resume builder loading state
  app/page.module.css
  app/page.tsx
  components/Button/Button.tsx
  components/Button/index.ts
  components/ResumeButton/ResumeButton.module.css
  components/ResumeButton/ResumeButton.tsx
  components/ResumeButton/index.ts
Due: eslint, typescript

Cache resume generation
  components/ResumeButton/ResumeButton.tsx
  pages/api/resume/index.tsx
Due: eslint, typescript

Can't live generate resume on Vercel
  components/ResumeButton/ResumeButton.module.css
  components/ResumeButton/ResumeButton.tsx
  pages/api/resume/index.tsx
  public/ev-haus-resume.pdf
Due: eslint, typescript

Fix typo
  pages/api/resume/index.tsx
  public/ev-haus-resume.pdf
Due: eslint, typescript

asd
  components/ResumeButton/ResumeButton.module.css
Due: none

Fix stylelint and eslint integrations
  .npmrc
  components/ResumeButton/ResumeButton.module.css
  pnpm-lock.yaml
Due: none

Update npmrc
  .npmrc
Due: none

Try Vercel Analytics
  components/Analytics/Analytics.tsx
  package.json
  pnpm-lock.yaml
Due: eslint, prettier-package-json, typescript

Disable Vercel analytics
  components/Analytics/Analytics.tsx
  package.json
  pnpm-lock.yaml
Due: eslint, prettier-package-json, typescript

Migrate to @floating-ui/react
  components/WithTooltip/WithTooltip.tsx
  package.json
  pnpm-lock.yaml
Due: eslint, prettier-package-json, typescript

Fix TypeScript errors
  pages/api/resume/components/Timeline.tsx
  pages/api/resume/index.tsx
Due: eslint, typescript

Minor README update
  README.md
Due: none

Upgrade to Next 13.2
  app/layout.tsx
  components/SillyComment/SillyComment.tsx
  constants/seo.ts
  next-env.d.ts
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier-package-json, typescript

Disable typedRoutes. It breaks builds
  next.config.js
Due: eslint

Enable lefthook's new stage_fixed option
  lefthook.yml
Due: none

Stylelint fixes
  app/page.module.css
Due: none

Reset lockfile
  pnpm-lock.yaml
Due: none

Minor resume updates
  pages/api/resume/index.tsx
  public/ev-haus-resume.pdf
Due: eslint, typescript

Fix ESLint errors
  pages/api/resume/index.tsx
Due: eslint, typescript

Next 13.3 upgrades
  app/favicon.ico
  app/robots.txt
  components/ResumeButton/ResumeButton.tsx
  package.json
  pages/api/resume/index.tsx
  pnpm-lock.yaml
Due: eslint, prettier-package-json, typescript

Favicon update
  app/favicon.ico
Due: none

Update to latest floating-ui best practices
  components/WithTooltip/WithTooltip.tsx
Due: eslint, typescript

Upgrade to latest pnpm & node versions
  .github/workflows/workflow.yml
  package.json
  pnpm-lock.yaml
Due: prettier-package-json

Update ESLint imports
  app/layout.tsx
  components/WithTooltip/WithTooltip.tsx
  pages/api/resume/components/Block.tsx
  pages/api/resume/components/ExperienceBlock.tsx
  pages/api/resume/index.tsx
Due: eslint, typescript

Fix some more ESLint failures
  .eslintrc
  pages/api/resume/components/Block.tsx
Due: eslint, typescript

Switch to dynamic pnpm version
  .github/workflows/workflow.yml
  package.json
Due: prettier-package-json

Path conditions:
  stylelint: any of: *.{css}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier-package-json: any of: package.json
  typescript: any of: *.{ts,tsx}
